
$color-white: #ffffff; //white
$color-black: #000000; //black
$color-slate: #414A52; //body font
$color-light-slate: #5E6265;
$color-light-grey: #F4F6F9; //light section
$color-dark-grey: #8A9097;
$color-teal: #7AE2DE; //cta
$color-dark-teal: #71D5D2; //cta-hover
$color-porcelain: #E5E7E9; //keylines
