
@font-face {font-family: 'GloberBlackItalic';src: url('../fonts/2A0FEB_0_0.eot');src: url('../fonts/2A0FEB_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A0FEB_0_0.woff') format('woff'),url('../fonts/2A0FEB_0_0.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'GloberBook';src: url('../fonts/2A0FEB_1_0.eot');src: url('../fonts/2A0FEB_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A0FEB_1_0.woff') format('woff'),url('../fonts/2A0FEB_1_0.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'GloberBoldItalic';src: url('../fonts/2A0FEB_2_0.eot');src: url('../fonts/2A0FEB_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A0FEB_2_0.woff') format('woff'),url('../fonts/2A0FEB_2_0.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'GloberBold';src: url('../fonts/2A0FEB_3_0.eot');src: url('../fonts/2A0FEB_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A0FEB_3_0.woff') format('woff'),url('../fonts/2A0FEB_3_0.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'GloberBookItalic';src: url('../fonts/2A0FEB_4_0.eot');src: url('../fonts/2A0FEB_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A0FEB_4_0.woff') format('woff'),url('../fonts/2A0FEB_4_0.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'GloberBlack';src: url('../fonts/2A0FEB_5_0.eot');src: url('../fonts/2A0FEB_5_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A0FEB_5_0.woff') format('woff'),url('../fonts/2A0FEB_5_0.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'GloberHeavy';src: url('../fonts/2A0FEB_6_0.eot');src: url('../fonts/2A0FEB_6_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A0FEB_6_0.woff') format('woff'),url('../fonts/2A0FEB_6_0.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'GloberHeavyItalic';src: url('../fonts/2A0FEB_7_0.eot');src: url('../fonts/2A0FEB_7_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A0FEB_7_0.woff') format('woff'),url('../fonts/2A0FEB_7_0.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'GloberLight';src: url('../fonts/2A0FEB_8_0.eot');src: url('../fonts/2A0FEB_8_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A0FEB_8_0.woff') format('woff'),url('../fonts/2A0FEB_8_0.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'GloberLightItalic';src: url('../fonts/2A0FEB_9_0.eot');src: url('../fonts/2A0FEB_9_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A0FEB_9_0.woff') format('woff'),url('../fonts/2A0FEB_9_0.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'GloberRegularItalic';src: url('../fonts/2A0FEB_A_0.eot');src: url('../fonts/2A0FEB_A_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A0FEB_A_0.woff') format('woff'),url('../fonts/2A0FEB_A_0.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'GloberRegular';src: url('../fonts/2A0FEB_B_0.eot');src: url('../fonts/2A0FEB_B_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A0FEB_B_0.woff') format('woff'),url('../fonts/2A0FEB_B_0.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'GloberSemiBoldItalic';src: url('../fonts/2A0FEB_C_0.eot');src: url('../fonts/2A0FEB_C_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A0FEB_C_0.woff') format('woff'),url('../fonts/2A0FEB_C_0.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'GloberSemiBold';src: url('../fonts/2A0FEB_D_0.eot');src: url('../fonts/2A0FEB_D_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A0FEB_D_0.woff') format('woff'),url('../fonts/2A0FEB_D_0.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'GloberThin';src: url('../fonts/2A0FEB_E_0.eot');src: url('../fonts/2A0FEB_E_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A0FEB_E_0.woff') format('woff'),url('../fonts/2A0FEB_E_0.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'GloberThinItalic';src: url('../fonts/2A0FEB_F_0.eot');src: url('../fonts/2A0FEB_F_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A0FEB_F_0.woff') format('woff'),url('../fonts/2A0FEB_F_0.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'GloberxBoldItalic';src: url('../fonts/2A0FEB_10_0.eot');src: url('../fonts/2A0FEB_10_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A0FEB_10_0.woff') format('woff'),url('../fonts/2A0FEB_10_0.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'GloberxBold';src: url('../fonts/2A0FEB_11_0.eot');src: url('../fonts/2A0FEB_11_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A0FEB_11_0.woff') format('woff'),url('../fonts/2A0FEB_11_0.ttf') format('truetype'); font-weight: normal; font-style: normal;}


h1{
  font-family: 'GloberxBold';
  font-size: 64px;
  text-transform: uppercase;
}

h2{
  font-family: 'GloberxBold';
  font-size: 44px;
  text-transform: uppercase;
}

h3{
  font-family: 'GloberxBold';
  font-size: 36px;
  text-transform: uppercase;
}

h4{
  font-family: 'GloberSemiBold';
  font-size: 36px;
  text-transform: uppercase;
}

h5{
  font-family: 'GloberBold';
  font-size: 26px;
  text-transform: uppercase;
}

h6{
  font-family: 'GloberSemiBold';
  font-size: 14px;
  text-transform: uppercase;
}

p, body{
  font-family: 'GloberRegular';
  font-size: 14px;
  margin-bottom: 20px;

}
